@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{color:#04146c;}
body {background-color:#edf7ff;}
h1 {font-family:'MuseoModerno', cursive; font-size: 117.3px;}
h1,h2 , h3 {color:#0a2ff1}
h2 {font-family: 'Asap', sans-serif; font-size: 52px;}
h2 p {font-family: 'Asap', sans-serif;font-size: 33.33px;}
h3 {font-family:'MuseoModerno', cursive; font-size: 48px;}
nav ul strong {font-family: 'Asap', sans-serif;font-size: 33.33px;}
h4{color:#8a9af1;}
h4 {font-family:'MuseoModerno', cursive; font-size: 198.66x;}

aside {text-align: center;}
aside {font-family: 'Montserrat', sans-serif;}
aside p {color: white; background-color: black;}
aside x {color: black;background-color: white;}
aside z {color: white;background-color: black;}
aside xx {color: black;background-color: white;}
