@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap');

body {background-color:beige;font-family: 'Roboto', sans-serif;
    font-weight:400;}
h3,h4,h5,h6 {background-color: yellow;}
    footer f {color: white; background-color: black; }
    footer p {background-color:yellow;}
h6  ol  ul li {background-color: yellow;}

header h1 {font-family:'Coiny', cursive; font-size:56px;}
h2 x {font-family:'Coiny', cursive; font-size:117px;}
h1 f {font-family:'Roboto', sans-serif; font-size:64px;}
h3 {font-family: 'Roboto', sans-serif; font-size:27px;}
h3 p {font-family: 'Roboto', sans-serif; font-size:32px;}
section h4,h5 {font-family: 'Roboto', sans-serif; font-size:35px;}
h4 p, h5 p {font-family: 'Roboto', sans-serif; font-size:28px;}
main h6 strong {font-family:'Roboto', sans-serif; font-size:55px;}
h5 strong {font-weight: 900;}

