body {@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
    font-family: 'Roboto', sans-serif;}

    h1,h2,h3,h4,h5,h6 {background-color: yellow;}
    footer f {color: white; background-color: black; }
    footer p {background-color:yellow;}
h6  ol  ul li {background-color: yellow;}

